.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/neofest-3.webp");
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.background-bw {
  filter: grayscale();
}

#mobile-text {
  font-family: "Montserrat";
  font-weight: 700;
}

#clipart-1{
  background-image: url('../assets/clipart-1.png');
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 65%;
  left: -5%;
  transform: rotate(-10.28deg)
}
#clipart-3{
  background-image: url('../assets/clipart-1.png');
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 62.5%;
  left: -15%;
  transform: rotate(-10.28deg);
}
#clipart-4{
  background-image: url('../assets/clipart-1.png');
  width: 375px;
  height: 375px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 62.5%;
  left: -15%;
  transform: rotate(-10.28deg);
}

#clipart-2{
  background-image: url('../assets/clipart-2.png');
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 65%;
  right: -3%;
  transform: rotate(6.28deg);
}