#roundtech{
    content: url('../assets/roundtechsquare.webp');
}

#devfolio{
    content: url('../assets/Devfolio_Logo-White.webp');
}

#polygon{
    content: url('../assets/Polygon_Logo-White.webp');
}
#replit{
    content: url('../assets/Replit-Dark-Background.webp');
    width: 75%;

}
#solana{
    content: url('../assets/Solana_Dark.webp');
    width: 85%;


}
#filecoin{
    content: url('../assets/Filecoin_White.webp');
    width: 75%;
}
#netweb{
    content: url('../assets/NetWeb-Logo.webp');
    width: 100%;
}
#csp{
    content: url('../assets/csp_square.webp');
    width: 40%;
}
#voiceflow{
    content: url('../assets/Voiceflow_Logo_White.webp');
    width: 70%;
}

#hcs{
    content: url('../assets/hackclubSVIT.png');
    width: 50%;
}

#gdscnuv{
    content: url('../assets/gdscNUV.png');
    width: 100%;
}

#gdscgsfc{
    content: url('../assets/gdscGSFC.png');
    width: 100%;
}